In [94]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyproj

In [95]:
# Load Sampled Data
df=pd.read_csv(r"..\data\Simplified Citation After 2015 July to 2019.csv",low_memory=False)
df.head(5)

,Unnamed: 0,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,28,4361326712,2019/09/17 12:00:00 AM,1205.0,NaN,NaN,CA,NaN,TOYT,PA,GY,309 WINDWARD AVE,00163,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.419487e+06,1.818861e+06
1,112,4361286823,2019/09/17 12:00:00 AM,853.0,NaN,NaN,CA,NaN,TOYT,PA,WT,934 84TH ST W,00553,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.473690e+06,1.808839e+06
2,224,4361159515,2019/09/17 12:00:00 AM,833.0,NaN,NaN,CA,NaN,NISS,PA,WT,2601 MONMOUTH AVE,00536,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.475329e+06,1.834194e+06
3,473,4361237226,2019/09/17 12:00:00 AM,1015.0,NaN,NaN,CA,NaN,HOND,PA,RD,615 HAMPTON DR,00133,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.417752e+06,1.820642e+06
4,592,4360129196,2019/09/17 12:00:00 AM,1007.0,NaN,NaN,CA,NaN,VOLV,PA,SL,1346 MCCADDEN PL N,00487,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.459495e+06,1.857205e+06

In [96]:
# Filter and create cleaned dataset
df_cleaned = df[(df['Latitude'] != 99999) | (df['Longitude'] != 99999)].copy()

In [97]:
# Conversion using pyproj module
inProj = pyproj.Proj('epsg:2229', preserve_units=True) # make sure unit preserve 
outProj = pyproj.Proj('epsg:4326')
y_1,x_1 = pyproj.transform(inProj,outProj,df_cleaned["Latitude"].values,df_cleaned["Longitude"].values)

In [98]:
# Add on the converted coordinates
#Google and Mapbox uses WGS 84 Web Mercator as its coordinate system.
df_cleaned["Latitude_new"] = y_1
df_cleaned["Longitude_new"] = x_1
df_cleaned.head()

,Unnamed: 0,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,...,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Latitude_new,Longitude_new
0,28,4361326712,2019/09/17 12:00:00 AM,1205.0,NaN,NaN,CA,NaN,TOYT,PA,...,309 WINDWARD AVE,00163,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.419487e+06,1.818861e+06,33.989412,-118.469024
1,112,4361286823,2019/09/17 12:00:00 AM,853.0,NaN,NaN,CA,NaN,TOYT,PA,...,934 84TH ST W,00553,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.473690e+06,1.808839e+06,33.962435,-118.290126
2,224,4361159515,2019/09/17 12:00:00 AM,833.0,NaN,NaN,CA,NaN,NISS,PA,...,2601 MONMOUTH AVE,00536,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.475329e+06,1.834194e+06,34.032120,-118.284957
3,473,4361237226,2019/09/17 12:00:00 AM,1015.0,NaN,NaN,CA,NaN,HOND,PA,...,615 HAMPTON DR,00133,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.417752e+06,1.820642e+06,33.994284,-118.474775
4,592,4360129196,2019/09/17 12:00:00 AM,1007.0,NaN,NaN,CA,NaN,VOLV,PA,...,1346 MCCADDEN PL N,00487,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.459495e+06,1.857205e+06,34.095217,-118.337472

In [99]:
import datetime
from datetime import time
from datetime import datetime as dt

In [100]:
#apply timestamp to Issue Date
df_cleaned['Issue Date'] = df_cleaned['Issue Date'].apply(pd.Timestamp)

In [101]:
#Create weekdays column 
df_cleaned['Day of Week'] = df_cleaned['Issue Date'].apply(lambda x: x.dayofweek)

In [102]:
week_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
week_names_dict = {index: name for index, name in enumerate(week_names)}

In [103]:
week_names_dict

{0: 'Monday',
 1: 'Tuesday',
 2: 'Wednesday',
 3: 'Thursday',
 4: 'Friday',
 5: 'Saturday',
 6: 'Sunday'}

In [104]:
df_cleaned['Day of Week'] = df_cleaned['Day of Week'].replace(week_names_dict)

In [105]:
df_cleaned=df_cleaned

In [106]:
df_cleaned.head()

,Unnamed: 0,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,...,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Latitude_new,Longitude_new,Day of Week
0,28,4361326712,2019-09-17,1205.0,NaN,NaN,CA,NaN,TOYT,PA,...,00163,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.419487e+06,1.818861e+06,33.989412,-118.469024,Tuesday
1,112,4361286823,2019-09-17,853.0,NaN,NaN,CA,NaN,TOYT,PA,...,00553,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.473690e+06,1.808839e+06,33.962435,-118.290126,Tuesday
2,224,4361159515,2019-09-17,833.0,NaN,NaN,CA,NaN,NISS,PA,...,00536,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.475329e+06,1.834194e+06,34.032120,-118.284957,Tuesday
3,473,4361237226,2019-09-17,1015.0,NaN,NaN,CA,NaN,HOND,PA,...,00133,51.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.417752e+06,1.820642e+06,33.994284,-118.474775,Tuesday
4,592,4360129196,2019-09-17,1007.0,NaN,NaN,CA,NaN,VOLV,PA,...,00487,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.459495e+06,1.857205e+06,34.095217,-118.337472,Tuesday

In [107]:
df_final1= df_cleaned.drop(["Unnamed: 0","Ticket number","Meter Id","Marked Time","RP State Plate","VIN","Make","Body Style","Color","Route","Agency","Violation code","Fine amount","Latitude","Longitude"], axis = 1)

In [108]:
df_final1.head()

,Issue Date,Issue time,Location,Violation Description,Latitude_new,Longitude_new,Day of Week
0,2019-09-17,1205.0,309 WINDWARD AVE,NO PARK/STREET CLEAN,33.989412,-118.469024,Tuesday
1,2019-09-17,853.0,934 84TH ST W,NO PARK/STREET CLEAN,33.962435,-118.290126,Tuesday
2,2019-09-17,833.0,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,34.032120,-118.284957,Tuesday
3,2019-09-17,1015.0,615 HAMPTON DR,NO PARK/STREET CLEAN,33.994284,-118.474775,Tuesday
4,2019-09-17,1007.0,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,34.095217,-118.337472,Tuesday

In [109]:
df_final1["Latitude"]=df_final1["Latitude_new"]
df_final1["Longitude"]=df_final1["Longitude_new"]

In [110]:
df_final2=df_final1.drop(["Latitude_new","Longitude_new"], axis = 1)

In [111]:
df_final2.head()

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude
0,2019-09-17,1205.0,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024
1,2019-09-17,853.0,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126
2,2019-09-17,833.0,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957
3,2019-09-17,1015.0,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775
4,2019-09-17,1007.0,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472

In [112]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76138 entries, 0 to 87553
Data columns (total 7 columns):
Issue Date               76138 non-null datetime64[ns]
Issue time               76127 non-null float64
Location                 76138 non-null object
Violation Description    76136 non-null object
Day of Week              76138 non-null object
Latitude                 76138 non-null float64
Longitude                76138 non-null float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 4.6+ MB

In [113]:
df_final2[df_final2["Issue time"].isnull()]

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude
9412,2019-02-13,NaN,203 HOBART BLVD S,WHITE ZONE,Wednesday,34.075026,-118.305511
9595,2019-02-10,NaN,1718 SIERRA BONITA AVE N,BLOCKING DRIVEWAY,Sunday,34.101987,-118.353939
26010,2018-04-06,NaN,L/L 700 WORLD WAY,RED CURB,Friday,33.945212,-118.401864
31623,2018-01-07,NaN,1700 S SEPULVEDA BLV,RED ZONE,Sunday,34.096562,-118.476899
45900,2017-05-16,NaN,1601 ORANGE DR N,PREFERENTIAL PARKING,Tuesday,34.099210,-118.341385
55854,2016-12-08,NaN,1428 NORTH HUDSON AVENUE,PREFERENTIAL PARKING,Thursday,34.097182,-118.331558
65994,2016-06-22,NaN,200 LAKE ST S,STANDNG IN ALLEY,Wednesday,34.065672,-118.272253
73935,2016-02-16,NaN,401 WORLD WAY,NO PARKING,Tuesday,33.943214,-118.408044
76308,2016-01-10,NaN,2800 W OBSERVATORY,RED ZONE,Sunday,34.123408,-118.302409
81992,2015-09-30,NaN,1701 PENMAR AVE,PARKED IN CROSSWALK,Wednesday,34.002779,-118.457276
83682,2015-09-02,NaN,306 HELIOTROPE DR,PREFERENTIAL PARKING,Wednesday,34.076395,-118.295558

In [114]:
df_final2["Issue time"].fillna(0000, inplace = True)

In [115]:
df_final2.loc[83682]

Issue Date                2015-09-02 00:00:00
Issue time                                  0
Location                    306 HELIOTROPE DR
Violation Description    PREFERENTIAL PARKING
Day of Week                         Wednesday
Latitude                              34.0764
Longitude                            -118.296
Name: 83682, dtype: object

In [116]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76138 entries, 0 to 87553
Data columns (total 7 columns):
Issue Date               76138 non-null datetime64[ns]
Issue time               76138 non-null float64
Location                 76138 non-null object
Violation Description    76136 non-null object
Day of Week              76138 non-null object
Latitude                 76138 non-null float64
Longitude                76138 non-null float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 7.1+ MB

In [117]:
df_final2.head()

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude
0,2019-09-17,1205.0,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024
1,2019-09-17,853.0,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126
2,2019-09-17,833.0,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957
3,2019-09-17,1015.0,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775
4,2019-09-17,1007.0,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472

In [118]:
# Time padding function(key to avoid time conversion bug)
def time_padding(time):
    time = str(int(time))
    return '0'*(4-len(time)) + time
# Apply padding to Issue_time
df_final2['Issue time'] = df_final2['Issue time'].apply(time_padding)

In [119]:
df_final2.head()

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude
0,2019-09-17,1205,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024
1,2019-09-17,0853,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126
2,2019-09-17,0833,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957
3,2019-09-17,1015,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775
4,2019-09-17,1007,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472

In [134]:

# Creating combined Datetime column
#df_final2['Datetime'] = pd.to_datetime(df_final2['Issue Date'] + ' ' + df_final2['Issue time'], format='%Y-%m-%d %H%M')
# you have to add .dt.time to remove the false day 
df_final2['Time'] = pd.to_datetime(df_final2['Issue time'], format= '%H%M').dt.time

In [155]:
df_final2

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude,Time
0,2019-09-17,1205,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024,12:05:00
1,2019-09-17,0853,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126,08:53:00
2,2019-09-17,0833,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957,08:33:00
3,2019-09-17,1015,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775,10:15:00
4,2019-09-17,1007,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472,10:07:00
5,2019-09-17,1032,250 CORONADO ST S,NO PARK/STREET CLEAN,Tuesday,34.071393,-118.274392,10:32:00
6,2019-09-17,1054,15211 KITTRIDGE ST,NO PARK/STREET CLEAN,Tuesday,34.190290,-118.464223,10:54:00
7,2019-09-17,1057,2131 CANYON DR,EXCEED 72HRS-ST,Tuesday,34.109339,-118.316927,10:57:00
8,2019-09-17,1028,1222 POINT VIEW ST,NO PARK/STREET CLEAN,Tuesday,34.053774,-118.369244,10:28:00
9,2019-09-17,0138,1000 39TH ST W,RED ZONE,Tuesday,34.015481,-118.291537,01:38:00
10,2019-09-17,1308,2200 65TH PL W,NO PARK/STREET CLEAN,Tuesday,33.980008,-118.317712,13:08:00
11,2019-09-17,1229,643 VISTA ST N,NO PARK/STREET CLEAN,Tuesday,34.082591,-118.352228,12:29:00
13,2019-09-16,1737,645 9TH ST W,NO STOP/STAND,Monday,34.045436,-118.260850,17:37:00
14,2019-09-16,1422,329 OLYMPIC BLVD E,RED ZONE,Monday,34.041796,-118.258780,14:22:00
15,2019-09-16,1259,600 LEBANON ST S,STANDNG IN ALLEY,Monday,34.050480,-118.257953,12:59:00
16,2019-09-16,1157,840 LOS ANGELES ST S,DISPLAY OF PLATES,Monday,34.041436,-118.253038,11:57:00
17,2019-09-16,1132,5000 EAGLE ROCK BL,METER EXP.,Monday,34.137043,-118.214746,11:32:00
18,2019-09-16,1215,3157 IVY ST,NO PARK/STREET CLEAN,Monday,34.031058,-118.387399,12:15:00
19,2019-09-16,1252,8630 OLIN ST,DISPLAY OF TABS,Monday,34.034534,-118.381135,12:52:00
20,2019-09-16,1246,8713 CATTARAUGUS AVE,NO PARK/STREET CLEAN,Monday,34.033022,-118.382858,12:46:00
21,2019-09-16,0103,527 LANDFAIR AVE S,PARKED ON SIDEWALK,Monday,34.068308,-118.450802,01:03:00
22,2019-09-13,1208,4500 PROSPECT AVE W,NO PARK/STREET CLEAN,Friday,34.101792,-118.287403,12:08:00
23,2019-09-13,1549,6501 SELMA AVE,FIRE HYDRANT,Friday,34.099767,-118.331025,15:49:00
24,2019-09-13,1005,1700 WINONA BLVD,NO PARK/STREET CLEAN,Friday,34.101754,-118.302005,10:05:00
25,2019-09-13,0832,1741 COLBY AVE,NO PARK/STREET CLEAN,Friday,34.042008,-118.450202,08:32:00
26,2019-09-13,0106,6054 YUCCA ST,NO PARKING,Friday,34.103998,-118.321588,01:06:00
29,2019-09-13,0712,7726 MANCHESTER AVE W,WHITE ZONE,Friday,33.959702,-118.431903,07:12:00
30,2019-09-13,1113,1914 CLINTON ST,NO PARK/STREET CLEAN,Friday,34.073022,-118.264119,11:13:00
32,2019-09-13,0510,5900 CROCKER ST S,RED ZONE,Friday,33.987629,-118.268515,05:10:00
33,2019-09-13,2014,900 BROADWAY,RESTRICTED TAXI ZONE,Friday,34.042328,-118.256061,20:14:00
...,...,...,...,...,...,...,...,...
87523,2015-07-02,1156,2101 WESTWOOD BL,METER EXP.,Thursday,34.045253,-118.432918,11:56:00
87524,2015-07-02,1228,22430 VENTURA BL,RED ZONE,Thursday,34.168538,-118.615352,12:28:00
87525,2015-07-02,1054,20969 VENTURA BLVD,DISPLAY OF PLATES,Thursday,34.166558,-118.590066,10:54:00
87526,2015-07-02,1632,11701 PICO BL W,METER EXP.,Thursday,34.031608,-118.445703,16:32:00
87527,2015-07-02,0811,126 AVENUE 55 S,RED ZONE,Thursday,34.107365,-118.195717,08:11:00
87528,2015-07-02,0508,5400 96TH ST W,OVERSIZED VEHICLE PA,Thursday,33.949308,-118.374717,05:08:00
87529,2015-07-02,1608,726 LA BREA AVE N,NO STOPPING/ANTI-GRI,Thursday,34.060674,-118.344605,16:08:00
87530,2015-07-02,1020,500 TRACTION AVE,DISPLAY OF TABS,Thursday,34.046905,-118.238080,10:20:00
87531,2015-07-02,0150,7446 SYLMAR AVE,NO PARKING,Thursday,34.205844,-118.447573,01:50:00
87532,2015-07-02,0817,5355 CARTWRIGHT AVE,NO PARK/STREET CLEAN,Thursday,34.167674,-118.363180,08:17:00
87533,2015-07-02,1216,6801 PACIFIC AVE S,NO PARK/STREET CLEAN,Thursday,33.958876,-118.450902,12:16:00
87534,2015-07-02,1023,720 SOUTH MARIPOSA AVENUE,NO PARK/STREET CLEAN,Thursday,34.059317,-118.298715,10:23:00
87535,2015-07-02,0814,631 SOUTH ALEXANDRIA AVENUE,NO PARK/STREET CLEAN,Thursday,34.063008,-118.297924,08:14:00
87536,2015-07-02,1129,901 GRATTAN ST,METER EXP.,Thursday,34.050413,-118.272209,11:29:00
87537,2015-07-02,0826,14858 MOORPARK ST,NO PARK/STREET CLEAN,Thursday,34.153742,-118.456963,08:26:00
87538,2015-07-02,0219,223 6TH ST,NO PARKING,Thursday,34.046113,-118.251205,02:19:00
87540,2015-07-02,0217,220 8TH ST E,NO PARKING,Thursday,34.043227,-118.253856,02:17:00
87541,2015-07-02,0811,530 S BERENDO ST,NO PARK/STREET CLEAN,Thursday,34.064857,-118.294140,08:11:00
87542,2015-07-02,1904,6221 W 96TH,DSPLYPLATE A,Thursday,33.948837,-118.394371,19:04:00
87543,2015-07-02,1900,2516 S VETERAN AVE,5200,Thursday,34.036275,-118.429030,19:00:00
87544,2015-07-02,1836,10931 ASHTON AVE,NO STOPPING/STANDING,Thursday,34.057523,-118.444335,18:36:00
87545,2015-07-02,1034,10754 TABOR ST,NO PARK/STREET CLEAN,Thursday,34.022543,-118.411723,10:34:00
87546,2015-07-02,1018,10717 LAWLER ST,NO PARK/STREET CLEAN,Thursday,34.025129,-118.412452,10:18:00
87547,2015-07-02,0115,11716 ALLIN ST,HANDICAP/CROSS HATCH,Thursday,33.992642,-118.409172,01:15:00
87548,2015-07-02,1010,4322 LEIMERT BLVD,NO PARK/STREET CLEAN,Thursday,34.005806,-118.328999,10:10:00
87549,2015-07-02,1622,200 BREED ST N,METER EXP.,Thursday,34.042926,-118.211886,16:22:00
87550,2015-07-02,1302,5306 VANTAGE AVE,NO PARK/STREET CLEAN,Thursday,34.166789,-118.398139,13:02:00
87551,2015-07-02,1325,8229 CALABAR AVE,NO PARK/STREET CLEAN,Thursday,33.960751,-118.439362,13:25:00
87552,2015-07-02,1256,R/O 203 CULVER BLVD E,NO STOP/STANDING,Thursday,33.958915,-118.448378,12:56:00
87553,2015-07-02,1017,1925 5TH AVE,NO PARK/STREET CLEAN,Thursday,34.039664,-118.322450,10:17:00

In [137]:
df_final2[df_final2['Issue time']=="0000"]

,Issue Date,Issue time,Location,Violation Description,Day of Week,Latitude,Longitude,Time
9412,2019-02-13,0000,203 HOBART BLVD S,WHITE ZONE,Wednesday,34.075026,-118.305511,00:00:00
9595,2019-02-10,0000,1718 SIERRA BONITA AVE N,BLOCKING DRIVEWAY,Sunday,34.101987,-118.353939,00:00:00
26010,2018-04-06,0000,L/L 700 WORLD WAY,RED CURB,Friday,33.945212,-118.401864,00:00:00
31623,2018-01-07,0000,1700 S SEPULVEDA BLV,RED ZONE,Sunday,34.096562,-118.476899,00:00:00
45900,2017-05-16,0000,1601 ORANGE DR N,PREFERENTIAL PARKING,Tuesday,34.099210,-118.341385,00:00:00
55854,2016-12-08,0000,1428 NORTH HUDSON AVENUE,PREFERENTIAL PARKING,Thursday,34.097182,-118.331558,00:00:00
65994,2016-06-22,0000,200 LAKE ST S,STANDNG IN ALLEY,Wednesday,34.065672,-118.272253,00:00:00
73935,2016-02-16,0000,401 WORLD WAY,NO PARKING,Tuesday,33.943214,-118.408044,00:00:00
76308,2016-01-10,0000,2800 W OBSERVATORY,RED ZONE,Sunday,34.123408,-118.302409,00:00:00
81992,2015-09-30,0000,1701 PENMAR AVE,PARKED IN CROSSWALK,Wednesday,34.002779,-118.457276,00:00:00
83682,2015-09-02,0000,306 HELIOTROPE DR,PREFERENTIAL PARKING,Wednesday,34.076395,-118.295558,00:00:00

In [142]:
df_final3= df_final2.drop(["Issue time"], axis = 1)

In [143]:
df_final3[df_final3["Violation Description"].isnull()].head()

,Issue Date,Location,Violation Description,Day of Week,Latitude,Longitude,Time
6971,2019-04-01,600 KINGSLEY DR,NaN,Monday,34.082212,-118.303436,17:35:00
51457,2017-02-18,7622 FARMDALE AVE,NaN,Saturday,34.208860,-118.381236,13:14:00

In [146]:
df_final3["Violation Description"].fillna("Unknown", inplace = True)

In [147]:
df_final3[df_final3["Violation Description"].isnull()]

Empty DataFrame
Columns: [Issue Date, Location, Violation Description, Day of Week, Latitude, Longitude, Time]
Index: []

In [148]:
df_final3.isnull().sum()

Issue Date               0
Location                 0
Violation Description    0
Day of Week              0
Latitude                 0
Longitude                0
Time                     0
dtype: int64

In [149]:
df_final3 = df_final3.dropna()

In [78]:
#df_final3[df_final3["Longitude"].isnull()]

Empty DataFrame
Columns: [Issue Date, Issue time, Location, Violation Description, Day of Week, Latitude, Longitude]
Index: []

In [79]:
#df_final3[df_final3["Latitude"].isnull()]

Empty DataFrame
Columns: [Issue Date, Issue time, Location, Violation Description, Day of Week, Latitude, Longitude]
Index: []

In [80]:
#df_final2.isnull().sum()

Issue Date               0
Issue time               0
Location                 0
Violation Description    0
Day of Week              0
Latitude                 0
Longitude                0
dtype: int64

In [150]:
df_final4=df_final3.reset_index()

In [151]:
df_final4.isnull().sum()

index                    0
Issue Date               0
Location                 0
Violation Description    0
Day of Week              0
Latitude                 0
Longitude                0
Time                     0
dtype: int64

In [152]:
df_final4.head()

,index,Issue Date,Location,Violation Description,Day of Week,Latitude,Longitude,Time
0,0,2019-09-17,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024,12:05:00
1,1,2019-09-17,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126,08:53:00
2,2,2019-09-17,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957,08:33:00
3,3,2019-09-17,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775,10:15:00
4,4,2019-09-17,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472,10:07:00

In [153]:
del df_final4['index']

In [154]:
df_final4.head()

,Issue Date,Location,Violation Description,Day of Week,Latitude,Longitude,Time
0,2019-09-17,309 WINDWARD AVE,NO PARK/STREET CLEAN,Tuesday,33.989412,-118.469024,12:05:00
1,2019-09-17,934 84TH ST W,NO PARK/STREET CLEAN,Tuesday,33.962435,-118.290126,08:53:00
2,2019-09-17,2601 MONMOUTH AVE,NO PARK/STREET CLEAN,Tuesday,34.032120,-118.284957,08:33:00
3,2019-09-17,615 HAMPTON DR,NO PARK/STREET CLEAN,Tuesday,33.994284,-118.474775,10:15:00
4,2019-09-17,1346 MCCADDEN PL N,NO PARK/STREET CLEAN,Tuesday,34.095217,-118.337472,10:07:00

In [156]:
# convert this file to csv file and rename to whatever you want
df_final4.to_csv(r"..\data\Coordinates Converted_Simplified Citation After 2015 July to 2019.csv")