In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
%matplotlib inline

In [2]:
#load the large size data
df=pd.read_csv("..\data\Parking_Citations_After_July_1_2015.csv",low_memory=False)
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06

In [3]:
# get 1% of random data from original data
skip = pd.Series(np.random.binomial(1, 0.01, len(df)), index=df.index)
skip

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
8706382    0
8706383    0
8706384    0
8706385    0
8706386    0
8706387    0
8706388    0
8706389    0
8706390    0
8706391    0
8706392    0
8706393    0
8706394    0
8706395    0
8706396    0
8706397    0
8706398    0
8706399    0
8706400    0
8706401    0
8706402    0
8706403    0
8706404    0
8706405    0
8706406    0
8706407    0
8706408    0
8706409    0
8706410    0
8706411    0
Length: 8706412, dtype: int32

In [4]:
#picked the selected data
subset = df[skip==1]

In [5]:
#compare the shape of orginal data and simplied data
df.shape, subset.shape

((8706412, 18), (86944, 18))

In [6]:
subset.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
263,4361090705,2019/09/17 12:00:00 AM,923.0,NaN,NaN,CA,NaN,TOYT,PA,SL,1143 95TH ST E,00556,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.484206e+06,1.804375e+06
451,4360233382,2019/09/17 12:00:00 AM,1227.0,NaN,NaN,CA,NaN,CADI,PA,SL,939 90TH ST E,00500,55.0,5200,DISPLAY OF PLATES,25,6.483500e+06,1.806005e+06
1376,4361152504,2019/09/16 12:00:00 AM,1722.0,LT80,NaN,CA,NaN,VOLK,PA,BK,100 SAN PEDRO ST S,00600,56.0,88.13B+,METER EXP.,63,6.488707e+06,1.840813e+06
1400,4361142424,2019/09/16 12:00:00 AM,1236.0,NaN,NaN,CA,NaN,GMC,PA,BK,1139 CARDIFF AVE,00146,51.0,80.69BS,NO PARK/STREET CLEAN,73,6.442994e+06,1.843304e+06
1402,4361142402,2019/09/16 12:00:00 AM,1226.0,NaN,NaN,CA,NaN,GMC,VN,WT,8800 WHITWORTH DR,00146,51.0,80.69BS,NO PARK/STREET CLEAN,73,6.445457e+06,1.843383e+06

In [7]:
# convert this file to csv file and rename to whatever you want
subset.to_csv(r"..\data\Simplified Citation After 2015 July to 2019.csv")